<?xml version="1.0" encoding="UTF-8"?>

<suite name="Suite">
	<listeners>
		<listener class-name="Listeners.MyListeners" />
	</listeners>

	<test thread-count="5" name="Test">
		<classes>
			<class name="tutorialsninja.tests.Login" />
			<class name="tutorialsninja.tests.Register" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
